body {
    background-color:#25272F;
    font-family: helvetica;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 18pt;
    margin-bottom: 15px;
}

.event-hours {
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}

.event-date {
    margin-top: 40px;
}

.event-day {
    font-size: 55pt;
}

.tile {
    width: 170px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;    
}

.tile-double {
    width: 390px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}

.tile-list a {
    color: white;
    text-decoration: none;
}

.green {
    background-color:#13B2A3;
}

.red {
    background-color:#F16F51;
}

.yellow {
    background-color:#FDB45C;        
}

.lightgrey {
    background-color:#F6F6F6;
    color: black;
}

.city-image {
    background-image:url("santiago.png");
    font-size: 20pt;
}

#main-container {
    max-width: 900px;
    margin: 0 auto;
}

.chart-total {
    font-size: 30pt;
    text-align:right;
}