body {
    background-color:yellow;
}

#interview {
    background-color: green;
}

.tile {
    width: 170px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
    background-color: blue;
}

#main-container {
    max-width: 900px;
	margin: 0 auto;
}